html {
  color: #210c3e;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0px;
}
nav {
  overflow: hidden;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0cfcca;
  padding-right: 40px;
  padding-top: 30px;
}

li {
  float: right;
  padding: 8px 35px 8px 30px;
  margin-left: 25px;
}

li a {
  display: block;
  color: #210c3e;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#sign-in {
  background-color: #210c3e;
  border-radius: 20px;
}

#sign-in a {
  color: #0cfcca;
  text-align: center;
}

#sign-up {
  color: #0cfcca;
  text-align: center;
  background-color: #210c3e;
  border-radius: 20px;
  padding: 20px;
}
section {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

#header {
  background-color: #0cfcca;
  width: 100%;
  height: 700px;
  border-radius: 0% 0% 100% 100%/0% 0% 25% 30%;
}

#banner {
  margin-left: 125px;
  margin-top: 125px;
}
#header h2 {
  font-size: 50px;
}

#info-section {
  margin-top: 40px;
}

.info-grid {
  margin-top: 75px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.grid-item h1 {
  margin: 20px;
}
